<%-include('Partials/head')%>
<div class="content">
    <div class="w3-content" style="background-color: white;width: 55%;margin-top: 68px;padding:18px">
        <%for(let i=0;i<20;i++){%>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vitae repudiandae incidunt, quo libero ipsa. Animi numquam ut unde! Perferendis, facere molestiae cumque neque perspiciatis maxime voluptate natus repellat in?</p>
        <%}%>
    </div>
</div>
<%-include('Partials/foot')%>