<%-include('Partials/head')%>
<div class="content">
    <div class="container" style="background-color: white;width: 55%;margin-top: 30px;margin-bottom: 30px;padding:20px">
        <p><%-content%></p>
    </div>
</div>
<%-include('Partials/foot')%>