<%- include('Partials/head') %>
<!-- !PAGE CONTENT! -->
<div
class="w3-main w3-content w3-padding"
style="max-width:1200px;margin-top:100px"
>
<hr id="about" />

<!-- About Section -->
<div class="w3-container w3-padding-32 w3-center">
  <img src="/img/open-bible-2294878.jpg" class="w3-padding w3-container" style="widows: 500px;height:300px" alt="books">
  <h3>About JUDUL</h3>
  <br />
  <div class="w3-padding-32">
    <h4><b>Lorem.</b></h4>
    <h6><i>Lorem ipsum dolor sit amet.</i></h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem a
      harum cum deserunt voluptatum, eveniet magni, eius et ea, itaque
      veniam nemo consequatur. Voluptatum sed maiores, vel sequi neque
      voluptatibus?
    </p>
  </div>
</div>
<hr />


<%- include('Partials/foot') %>