<%- include('Partials/head') %>
<!-- !PAGE CONTENT! -->

<hr id="about" />

<!-- About Section -->
<div class="center-block " style="max-width: 800px;">
  <img src="/img/BNSS_Page_kompetisi.jpg" class="rounded mx-auto d-block" style="widows: 500px;height:300px" alt="books">
  <h3>About Komunitas Novel</h3>
  <br />
  <div class="w3-padding-32">
    <h4><b>Komunitas Novel</b></h4>
    <p>
      Komunitas Novel adalah cara baru untuk kamu bercerita. Di Komunitas Novel kamu dapat menuliskan cerita sendiri ataupun bersama dengan teman-temanmu. Kamu juga dapat membaca cerita yang ditulis orang lain.
    </p>
  </div>
</div>
<hr />


<%- include('Partials/foot') %>