* {
  color: black;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  padding: 40px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.position {
  position: relative;
  left: 100px;
}

textarea {
  height: 90px;
}

p {
  font-size: 16px;
}

#novel {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#novel td,
#novel th {
  border: 1px solid #ddd;
  padding: 8px;
}

#novel tr:nth-child(even) {
  background-color: #f2f2f2;
}

#novel tr:hover {
  background-color: #ddd;
}

#novel th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e6e6e6;
  color: black;
}

a{
    text-decoration: none   
}

p {
  word-wrap: break-word;
}